.outerDiv {
    margin: 0;
    padding: 0 100px;
}

.header-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
}

.header-inner-div {
    display: flex;
}

.header-inner-div p {
    margin-right: 20px;
    font-size: 18px;
    font-weight: 700;
    line-height: 40px;
    text-align: left;
}

.hide-filter-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    text-align: right;
    color: #888792;
    text-decoration: underline;
}

.container {
    display: flex;
    margin-top: 30px;
}

.left-section {
    width: 20%;
    background-color: #ffffff;
    display: none;
}

.left-section.show {
    display: block;
}

.filter-section {
    width: 100%;
    padding: 5px;
}

.right-section {
    padding: 10px;
    padding-left: 10px;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product-section {
    display: flex;
    justify-content: center;
    gap: 19px;
    flex-wrap: wrap;
}


@media screen and (max-width: 600px) {
    .left-section {
        display: none;
    }
}

.left-section.show {
    display: block;
}